<html>
<body>
<table border="2" width="100%" height="100%" style="background-color:pink; color:gray">
  <tr height="100px" width="100px"><th colspan="2">tabihat</th>
    </tr>
  <tr>
    <td height="300" width="200">
      <%= link_to image_tag('mohit.jpg'),root_path %>


    </td>

    <td height="500" width="500">
      <h1>About Page</h1>
      <p>About Page is a page that links to home page<br></p>

  </tr>
  <tr height="100" width="300" ><th colspan="2">writer by;freshta hy</th>
  </tr>

</table>
</body>
</html>